{% extends 'base.html.twig' %}

{% block body %}

{#   {{dump(app.flashes)}}#}
    <div class="container">
        {{ form_start(formCampaign) }}

        {{ form_widget(formCampaign) }}

        <button type="submit" class="btn btn-primary">
            {% if newCampaign == false %}
            Confirm edit{% else %}
            Submit new campaign {% endif %}
        </button>

        {{ form_end(formCampaign) }}

    </div>



{% endblock %}