{% extends 'base.html.twig' %}

{% block title %}Trips{% endblock %}

{% block stylesheets %}
{#    <link rel="stylesheet" href="/css/jquery.dataTables.min.css">#}
{#    <link rel="stylesheet" type="text/css" href="/css/datatables.min.css"/>#}

{#    <link rel="stylesheet" href="/css/fixedHeader.dataTables.min.css">#}
    <link rel="stylesheet" href="/css/datatables.min.css">
    <link rel="stylesheet" href="/css/fixedHeader.dataTables.min.css">

{% endblock %}

{% block body %}

    <div class="container">
        <h1>Trips</h1>

        <table class="table-hover table-bordered display" id="myDataTable" width="100%">
            <thead>
            {% set headerRow =
                "<tr>
                <th>Start Date [Nb days]</th>

                <th>Destination</th>

                <th>Cruise Plancode</th>
                <th>Stations count</th>
                <th>Status</th>
                <th>Ship</th>

            </tr>"
            %}
            {{ headerRow | raw }}

            </thead>

            <tfoot> {{ headerRow | raw }}</tfoot>


        </table>
    </div>


{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="/js/datatables.min.js"></script>
    {#    <script type="text/javascript" src="/js/myDataTable/tableSearchHeaders.js"></script>#}
    <script src="{{ '/bundles/fosjsrouting/js/router.min.js' }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

    <script type="text/javascript">
        $(document).ready( function () {
            //allow sorting date
            // $.fn.dataTable.moment("D/M/YYYY");

            //Add another header below the first
            $('#myDataTable thead tr').clone().appendTo('#myDataTable thead');

            //Transform the second header row to have the search input fields
            $('#myDataTable thead tr:odd th').each( function () {
                $(this).html('<input type="text" placeholder="Search" />');
            });

            //Create the table
            var table =
                $('#myDataTable').DataTable({
                    "ajax": {
                        "url": "api/gettrips",
                        "dataSrc" : ""
                    },

                    "order": [[0, "desc"]],
                    "columns" : [
                        {"data" : "startdateAndNumberOfDays"},
                        {"data" : "destination"},
                        {"data" : "plandcode"},
                        {"data" : "stationTotalMidas"},
                        {"data" : "status"},
                        {"data" : "ship"}

                    ],
                    "columnDefs": [
                        {
                            "targets": -1,
                            "visible": false
                        },
                        // {
                        //     "targets": 1,
                        //     "render": function(data, type, row) {
                        //         if(data !== null && data !== ''){
                        //             var imisnrOutput = data + '&nbsp&nbsp<a href="http://www.vliz.be/en/imis?module=person&persid=' + data  + '" target= "blank" title="OpenImisLink">' +
                        //                 '<i class = "fa fa-link"></i></a>';
                        //             return imisnrOutput;
                        //         } else {return '';}
                        //
                        //     }
                        // },
                        // {
                        //     "targets" : 0,
                        //     "render": function(data, type, row) {
                        //         var investigatorOutput = data
                        //             + '&nbsp <a href="'
                        //             + Routing.generate('investigator_details', {investigatorId: row.investigatorid}) + '"><i class="fa fa-info-circle"></i></a>'
                        //             + '&nbsp <a href="' + Routing.generate('edit_investigator', {investigatorId: row.investigatorid})
                        //             + '"><i class="fa fa-edit"></i></a>'
                        //             + '&nbsp <a href="' + Routing.generate('remove_investigator_warning', {investigatorId: row.investigatorid})
                        //             + '"><i class="fa fa-trash"></i></a>'
                        //         ;
                        //         // + '&nbsp <a href="' + Routing.generate('edit_investigator', {investigatorId: row.investigatorid})
                        //         // + '"><i class="fa fa-edit"></i></a>';
                        //         return investigatorOutput;
                        //     }
                        // }


                    ]
                });



            //Hide the generic search field
            $('#myDataTable_filter').hide();


            // Apply the search on every column
            table.columns().every( function () {
                var that = this;

                $( 'input', this.header() ).on( 'keyup change clear', function () {
                    if ( that.search() !== this.value ) {
                        that
                            .search( this.value )
                            .draw();
                    }
                } );
            } );



            //prevent that clicking on the search field sort the column
            //https://stackoverflow.com/questions/31677257/datatables-only-allow-sorting-with-buttons

            $('#myDataTable thead input').on('click', function(e){
                e.stopPropagation();
            });

        } );
    </script>



{% endblock %}

