{% extends 'base.html.twig' %}

{% block title %}Welcome !{% endblock %}

{% block body %}






<div class="container">
    <div class="jumbotron mt-3">
        <h1 class="display-3">MIDAS</h1>
        <h2>Marine Information and Data Acquisition System</h2>
        <p class="lead">Welcome to the MIDAS cruise planning system</p>
        <hr class="my-4">
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Schedule</a>


        </p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Plan a new cruise</a>
        </p>
    </div>
</div>

{% endblock %}
