{% extends 'base.html.twig' %}

{% block title %}Welcome !{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>



    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">MIDAS Manager</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link" href="#">Schedule</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Campaigns</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Request ship time</a>
                </li>
            </ul>

        </div>
    </nav>


    <div class="jumbotron">
        <h1 class="display-3">MIDAS</h1>
        <h2>Marine Information and Data Acquisition System</h2>
        <p class="lead">Welcome to the MIDAS cruise planning system</p>
        <hr class="my-4">
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Schedule</a>


        </p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Plan a new cruise</a>
        </p>
    </div>


{% endblock %}
